.dark {
  color-scheme: dark;

  --ant-color-primary: #E4E4E7;
  --ant-color-success: #22C55E;
  --ant-color-warning: #F97316;
  --ant-color-error: #F87171;
  --ant-color-info: #E4E4E7;
  --ant-color-link: #E4E4E7;
  --ant-color-text-base: #FAFAFA;
  --ant-color-bg-base: #09090B;
  --ant-color-primary-bg: #27272A;
  --ant-color-primary-bg-hover: #3F3F46;
  --ant-color-primary-border: #52525B;
  --ant-color-primary-border-hover: #71717A;
  --ant-color-primary-hover: #FAFAFA;
  --ant-color-primary-active: #D4D4D8;
  --ant-color-primary-text: #FAFAFA;
  --ant-color-primary-text-hover: #FFFFFF;
  --ant-color-primary-text-active: #D4D4D8;
  --ant-color-success-bg: #052E16;
  --ant-color-success-bg-hover: #064E3B;
  --ant-color-success-border: #166534;
  --ant-color-success-border-hover: #22C55E;
  --ant-color-success-hover: #4ADE80;
  --ant-color-success-active: #16A34A;
  --ant-color-success-text: #4ADE80;
  --ant-color-success-text-hover: #86EFAC;
  --ant-color-success-text-active: #22C55E;
  --ant-color-warning-bg: #431407;
  --ant-color-warning-bg-hover: #7C2D12;
  --ant-color-warning-border: #9A3412;
  --ant-color-warning-border-hover: #F97316;
  --ant-color-warning-hover: #FB923C;
  --ant-color-warning-active: #EA580C;
  --ant-color-warning-text: #FB923C;
  --ant-color-warning-text-hover: #FDBA74;
  --ant-color-warning-text-active: #F97316;
  --ant-color-error-bg: #450A0A;
  --ant-color-error-bg-hover: #7F1D1D;
  --ant-color-error-border: #991B1B;
  --ant-color-error-border-hover: #F87171;
  --ant-color-error-hover: #FCA5A5;
  --ant-color-error-active: #EF4444;
  --ant-color-error-text: #FCA5A5;
  --ant-color-error-text-hover: #FECACA;
  --ant-color-error-text-active: #F87171;
  --ant-color-info-bg: #27272A;
  --ant-color-info-bg-hover: #3F3F46;
  --ant-color-info-border: #52525B;
  --ant-color-info-border-hover: #71717A;
  --ant-color-info-hover: #FAFAFA;
  --ant-color-info-active: #D4D4D8;
  --ant-color-info-text: #FAFAFA;
  --ant-color-info-text-hover: #FFFFFF;
  --ant-color-info-text-active: #D4D4D8;
  --ant-color-text: #FAFAFA;
  --ant-color-text-secondary: #D4D4D8;
  --ant-color-text-tertiary: #A1A1AA;
  --ant-color-text-quaternary: #71717A;
  --ant-color-text-disabled: #52525B;
  --ant-color-bg-container: #09090B;
  --ant-color-bg-elevated: #18181B;
  --ant-color-bg-layout: #09090B;
  --ant-color-bg-spotlight: rgba(250, 250, 250, 0.85);
  --ant-color-bg-mask: rgba(0, 0, 0, 0.65);
  --ant-color-border: #27272A;
  --ant-color-border-secondary: rgba(255, 255, 255, 0.1);
  --ant-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4), 0 1px 2px -1px rgba(0, 0, 0, 0.4);
  --ant-box-shadow-secondary: 0 10px 15px -3px rgba(0, 0, 0, 0.35), 0 4px 6px -4px rgba(0, 0, 0, 0.35);
  --ant-color-shadow: #000000;
  --ant-color-fill: rgba(250, 250, 250, 0.18);
  --ant-color-fill-secondary: rgba(250, 250, 250, 0.12);
  --ant-color-fill-tertiary: rgba(250, 250, 250, 0.08);
  --ant-color-fill-quaternary: rgba(250, 250, 250, 0.04);
  --ant-color-bg-solid: rgb(250, 250, 250);
  --ant-color-bg-solid-hover: rgba(250, 250, 250, 0.85);
  --ant-color-bg-solid-active: rgba(250, 250, 250, 0.95);
  --ant-color-bg-blur: transparent;
  --ant-color-border-disabled: #3F3F46;
  --ant-color-error-bg-filled-hover: #7F1D1D;
  --ant-color-error-bg-active: #991B1B;
  --ant-color-link-hover: #FFFFFF;
  --ant-color-link-active: #D4D4D8;
  --ant-color-white: #FFFFFF;
  --ant-color-fill-content: rgba(250, 250, 250, 0.12);
  --ant-color-fill-content-hover: rgba(250, 250, 250, 0.18);
  --ant-color-fill-alter: rgba(250, 250, 250, 0.04);
  --ant-color-bg-container-disabled: rgba(250, 250, 250, 0.08);
  --ant-color-border-bg: #09090B;
  --ant-color-split: rgba(255, 255, 255, 0.1);
  --ant-color-text-placeholder: #71717A;
  --ant-color-text-heading: #FAFAFA;
  --ant-color-text-label: #D4D4D8;
  --ant-color-text-description: #A1A1AA;
  --ant-color-text-light-solid: #18181B;
  --ant-color-highlight: #F87171;
  --ant-color-bg-text-hover: rgba(250, 250, 250, 0.08);
  --ant-color-bg-text-active: rgba(250, 250, 250, 0.16);
  --ant-color-icon: #A1A1AA;
  --ant-color-icon-hover: #FAFAFA;
  --ant-color-error-outline: rgba(248, 113, 113, 0.16);
  --ant-color-warning-outline: rgba(249, 115, 22, 0.18);
  --ant-color-error-affix: #F87171;
  --ant-color-warning-affix: #F97316;
  --ant-control-item-bg-hover: rgba(250, 250, 250, 0.08);
  --ant-control-item-bg-active: #27272A;
  --ant-control-item-bg-active-hover: #3F3F46;
  --ant-control-item-bg-active-disabled: rgba(250, 250, 250, 0.08);
  --ant-control-tmp-outline: rgba(250, 250, 250, 0.06);
  --ant-control-outline: rgba(255, 255, 255, 0.1);
  --ant-box-shadow-tertiary:
    0 1px 2px 0 rgba(0, 0, 0, 0.45),
    0 1px 6px -1px rgba(0, 0, 0, 0.38),
    0 2px 4px 0 rgba(0, 0, 0, 0.32);
  --ant-box-shadow-popover-arrow: 2px 2px 5px rgba(0, 0, 0, 0.35);
  --ant-drop-shadow-popover: drop-shadow(0 6px 16px rgba(0, 0, 0, 0.32)) drop-shadow(0 3px 6px rgba(0, 0, 0, 0.4)) drop-shadow(0 9px 28px rgba(0, 0, 0, 0.28));
  --ant-box-shadow-card:
    0 1px 2px -2px rgba(0, 0, 0, 0.5),
    0 3px 6px 0 rgba(0, 0, 0, 0.36),
    0 5px 12px 4px rgba(0, 0, 0, 0.28);
  --ant-box-shadow-drawer-right:
    -6px 0 16px 0 rgba(0, 0, 0, 0.32),
    -3px 0 6px -4px rgba(0, 0, 0, 0.4),
    -9px 0 28px 8px rgba(0, 0, 0, 0.28);
  --ant-box-shadow-drawer-left:
    6px 0 16px 0 rgba(0, 0, 0, 0.32),
    3px 0 6px -4px rgba(0, 0, 0, 0.4),
    9px 0 28px 8px rgba(0, 0, 0, 0.28);
  --ant-box-shadow-drawer-up:
    0 6px 16px 0 rgba(0, 0, 0, 0.32),
    0 3px 6px -4px rgba(0, 0, 0, 0.4),
    0 9px 28px 8px rgba(0, 0, 0, 0.28);
  --ant-box-shadow-drawer-down:
    0 -6px 16px 0 rgba(0, 0, 0, 0.32),
    0 -3px 6px -4px rgba(0, 0, 0, 0.4),
    0 -9px 28px 8px rgba(0, 0, 0, 0.28);
  --ant-box-shadow-tabs-overflow-left: inset 10px 0 8px -8px rgba(0, 0, 0, 0.5);
  --ant-box-shadow-tabs-overflow-right: inset -10px 0 8px -8px rgba(0, 0, 0, 0.5);
  --ant-box-shadow-tabs-overflow-top: inset 0 10px 8px -8px rgba(0, 0, 0, 0.5);
  --ant-box-shadow-tabs-overflow-bottom: inset 0 -10px 8px -8px rgba(0, 0, 0, 0.5);

  .ant-input,
  .ant-input-css-var,
  .ant-otp {
    --ant-input-addon-bg: rgba(250, 250, 250, 0.04);
    --ant-input-active-border-color: #FAFAFA;
    --ant-input-hover-border-color: #71717A;
    --ant-input-active-shadow: none;
    --ant-input-error-active-shadow: 0 0 0 2px rgba(248, 113, 113, 0.16);
    --ant-input-warning-active-shadow: 0 0 0 2px rgba(249, 115, 22, 0.18);
    --ant-input-hover-bg: #09090B;
    --ant-input-active-bg: #09090B;
  }

  .ant-select-css-var {
    --ant-select-option-selected-color: #FAFAFA;
    --ant-select-option-selected-bg: #27272A;
    --ant-select-option-active-bg: #18181B;
    --ant-select-selector-bg: #09090B;
    --ant-select-clear-bg: #18181B;
    --ant-select-multiple-item-bg: #27272A;
    --ant-select-multiple-item-border-color: transparent;
    --ant-select-multiple-selector-bg-disabled: rgba(250, 250, 250, 0.08);
    --ant-select-multiple-item-color-disabled: #52525B;
    --ant-select-multiple-item-border-color-disabled: transparent;
    --ant-select-hover-border-color: #A1A1AA;
    --ant-select-active-border-color: #FAFAFA;
    --ant-select-active-outline-color: rgba(255, 255, 255, 0.1);
  }

  .ant-btn {
    --ant-button-primary-color: #18181B;
    --ant-button-danger-color: #FFFFFF;
    --ant-button-border-color-disabled: #3F3F46;
    --ant-button-default-ghost-color: #FAFAFA;
    --ant-button-default-ghost-border-color: #FAFAFA;
    --ant-button-group-border-color: #A1A1AA;
    --ant-button-text-text-color: #FAFAFA;
    --ant-button-text-text-hover-color: #FAFAFA;
    --ant-button-text-text-active-color: #D4D4D8;
    --ant-button-text-hover-bg: rgba(250, 250, 250, 0.08);
    --ant-button-default-color: #FAFAFA;
    --ant-button-default-bg: #18181B;
    --ant-button-default-border-color: rgba(255, 255, 255, 0.1);
    --ant-button-default-border-color-disabled: #3F3F46;
    --ant-button-default-hover-bg: #27272A;
    --ant-button-default-hover-color: #FAFAFA;
    --ant-button-default-hover-border-color: #3F3F46;
    --ant-button-default-active-bg: #3F3F46;
    --ant-button-default-active-color: #FAFAFA;
    --ant-button-default-active-border-color: #52525B;
    --ant-button-solid-text-color: #18181B;
    --ant-button-default-bg-disabled: rgba(250, 250, 250, 0.08);
    --ant-button-dashed-bg-disabled: rgba(250, 250, 250, 0.08);
  }

  .ant-picker-css-var {
    --ant-date-picker-addon-bg: rgba(250, 250, 250, 0.04);
    --ant-date-picker-active-border-color: #FAFAFA;
    --ant-date-picker-hover-border-color: #A1A1AA;
    --ant-date-picker-active-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
    --ant-date-picker-error-active-shadow: 0 0 0 2px rgba(248, 113, 113, 0.16);
    --ant-date-picker-warning-active-shadow: 0 0 0 2px rgba(249, 115, 22, 0.18);
    --ant-date-picker-hover-bg: #09090B;
    --ant-date-picker-active-bg: #09090B;
    --ant-date-picker-cell-hover-bg: rgba(250, 250, 250, 0.08);
    --ant-date-picker-cell-active-with-range-bg: #27272A;
    --ant-date-picker-cell-hover-with-range-bg: #3F3F46;
    --ant-date-picker-cell-range-border-color: #71717A;
    --ant-date-picker-cell-bg-disabled: rgba(250, 250, 250, 0.08);
    --ant-date-picker-multiple-item-bg: #27272A;
    --ant-date-picker-multiple-item-border-color: transparent;
    --ant-date-picker-multiple-selector-bg-disabled: rgba(250, 250, 250, 0.08);
    --ant-date-picker-multiple-item-color-disabled: #52525B;
    --ant-date-picker-multiple-item-border-color-disabled: transparent;
  }

  .ant-radio-css-var {
    --ant-radio-dot-color-disabled: #52525B;
    --ant-radio-button-solid-checked-color: #18181B;
    --ant-radio-button-solid-checked-bg: #FAFAFA;
    --ant-radio-button-solid-checked-hover-bg: #E4E4E7;
    --ant-radio-button-solid-checked-active-bg: #D4D4D8;
    --ant-radio-button-bg: #09090B;
    --ant-radio-button-checked-bg: #18181B;
    --ant-radio-button-color: #FAFAFA;
    --ant-radio-button-checked-bg-disabled: rgba(250, 250, 250, 0.08);
    --ant-radio-button-checked-color-disabled: #52525B;
    --ant-radio-radio-color: #18181B;
    --ant-radio-radio-bg-color: #FAFAFA;
  }

  .ant-switch {
    --ant-switch-handle-bg: #FAFAFA;
    --ant-switch-handle-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
  }

  .ant-progress {
    --ant-progress-circle-text-color: #FAFAFA;
    --ant-progress-default-color: #FAFAFA;
    --ant-progress-remaining-color: #27272A;
  }

  .ant-steps {
    --ant-steps-nav-arrow-color: #71717A;
    --ant-steps-wait-icon-color: #A1A1AA;
    --ant-steps-wait-icon-bg-color: rgba(250, 250, 250, 0.08);
    --ant-steps-wait-icon-border-color: transparent;
    --ant-steps-finish-icon-bg-color: #27272A;
    --ant-steps-finish-icon-border-color: #27272A;
  }

  .ant-qrcode {
    --ant-qr-code-qr-code-cover-background-color: rgba(24, 24, 27, 0.96);
  }

  .ant-rate {
    --ant-rate-star-bg: rgba(250, 250, 250, 0.12);
  }

  .ant-tag {
    --ant-tag-default-bg: #27272A;
    --ant-tag-default-color: #FAFAFA;
    --ant-tag-solid-text-color: #18181B;
  }

  .ant-segmented {
    --ant-segmented-track-bg: #18181B;
    --ant-segmented-item-color: #D4D4D8;
    --ant-segmented-item-hover-color: #FAFAFA;
    --ant-segmented-item-hover-bg: rgba(250, 250, 250, 0.08);
    --ant-segmented-item-selected-bg: #27272A;
    --ant-segmented-item-active-bg: rgba(250, 250, 250, 0.16);
    --ant-segmented-item-selected-color: #FAFAFA;
  }

  .ant-avatar-css-var {
    --ant-avatar-group-border-color: #09090B;
  }

  .ant-notification-css-var {
    --ant-notification-progress-bg: linear-gradient(90deg, #71717A, #FAFAFA);
  }

  .ant-card {
    --ant-card-header-bg: transparent;
    --ant-card-actions-bg: #18181B;
    --ant-card-extra-color: #FAFAFA;
  }
}
