.header-layout {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;

  > .header-layout__left {
    flex: none;
    width: 240px;
    font-size: 24px;
    font-weight: 600;
    line-height: 56px;
    text-align: center;
    user-select: none;
    color: var(--ant-color-text-base);

    > a {
      color: var(--ant-color-text-base);
    }
  }

  > .header-layout__right {
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
    padding: 0 24px;
    overflow: hidden;
  }

  .header-layout__user {
    color: var(--ant-color-text-secondary);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
